# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

MyFirst/.vs/MyFirst/FileContentIndex/e89be8ae-9287-42ab-807a-1ac771b216ef.vsidx

MyFirst/.vs/MyFirst/FileContentIndex/read.lock

MyFirst/.vs/MyFirst/v17/.suo

MyFirst/.vs/MyFirst/v17/Browse.VC.db

MyFirst/.vs/MyFirst/v17/Browse.VC.db-shm

MyFirst/.vs/MyFirst/v17/Browse.VC.db-wal

MyFirst/.vs/MyFirst/v17/Browse.VC.opendb

MyFirst/.vs/MyFirst/v17/ipch/AutoPCH/d5a3447dd63a0f4c/MYFIRSTPROJECT.ipch

MyFirst/MyFirst.sln

MyFirst/MyFirst/MyFirst.vcxproj

MyFirst/MyFirst/MyFirst.vcxproj.filters

MyFirst/MyFirst/MyFirst.vcxproj.user

MyFirst/MyFirst/x64/Debug/MyFirst.exe.recipe

MyFirst/MyFirst/x64/Debug/MyFirst.ilk

MyFirst/MyFirst/x64/Debug/MyFirst.log

MyFirst/MyFirst/x64/Debug/MyFirst.tlog/CL.command.1.tlog

MyFirst/MyFirst/x64/Debug/MyFirst.tlog/CL.read.1.tlog

MyFirst/MyFirst/x64/Debug/MyFirst.tlog/CL.write.1.tlog

MyFirst/MyFirst/x64/Debug/MyFirst.tlog/link.command.1.tlog

MyFirst/MyFirst/x64/Debug/MyFirst.tlog/link.read.1.tlog

MyFirst/MyFirst/x64/Debug/MyFirst.tlog/link.write.1.tlog

MyFirst/MyFirst/x64/Debug/MyFirst.tlog/MyFirst.lastbuildstate

MyFirst/MyFirst/x64/Debug/vc143.idb

MyFirst/MyFirst/x64/Debug/vc143.pdb

MyFirst/x64/Debug/MyFirst.pdb
